<main>
  <div class="container">
    <h2 class="my-3"><%=@card.title%></h2>
    <h5><%=@card.auther_name%></h5>
    <%=link_to "一覧画面に戻る", downloads_path, class: "btn btn-primary btn-outline"%>
    <div class="text-center mb-3">
      <%= image_tag @card.card_img, style: "max-width: 100%; max-height: 379px;" if @card.card_img.attached? %>
    </div>
    <section>
      <h4>コンテンツ</h4>
      <table class="table table-hover">
        <tbody>
        <%@card.contents.each do |content|%>
          <tr>
            <td><%=content.content.filename.to_s%></td>
            <td>
              <div class="text-right">
                <%=content.content.content_type%>
                <%=link_to 'ダウンロード', download_download_content_path(@license, content), :target=>["_blank"], class: "btn btn-primary btn-outline"%>
              </div>
            </td>
          </tr>
        <%end%>
        </tbody>
      </table>
      <div class="text-right mb-3">
        <%=link_to "一括ダウンロード" , download_download_contents_path(@license, format: :zip), class: "btn btn-primary btn-outline"%>
      </div>
    </section>
  </div>
</main>