<main>
  <div class="jumbotron jumbotron-fluid d-none d-md-block" style="background-image:url(<%= asset_path 'top-jumbotron.png' %>);background-size:cover; height: 60vw;">
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
      <h1 style="line-height: 1.5;">お家でかんたん<br>ダウンロードカード制作</h1>
      <div>
        <%=link_to "ダウンロードする(カードが必要です)",downloads_path,class: "btn btn-raised btn-primary", style: "font-weight: bold;"%>
      </div>
      <div>
        <%=link_to "カードを作る",cards_path,class: "btn btn-outline btn-primary", style: "background-color: white; font-weight: bold;"%>
      </div>
    </div>
  </div>
  <div class="d-md-none my-5">
    <div class="container">
      <h1 style="font-size: 40px;">お家でかんたん<br>ダウンロードカード制作</h1>
      <div>
        <%=link_to "ダウンロードする(カードが必要です)",downloads_path,class: "btn btn-raised btn-primary", style: "font-weight: bold;"%>
      </div>
      <div>
        <%=link_to "カードを作る",cards_path,class: "btn btn-outline btn-primary", style: "background-color: white; font-weight: bold;"%>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="mb-5">
      <div class="text-center">
        <h2 class="my-3">コンテンツを届ける新しいカタチ</h2>
        <%= image_tag  "top-img1.png" ,style: "max-width: 100%"%>
      </div>
      <div class="text-center">
        <p class="d-inline-block" style="text-align: left;">近年ではスマホで音楽を聞くことが主流となり、CDプレイヤーをもたない層が増加してます。<br>
        しかし、デジタル配信には手間がかかります。<br>
        <br>
        もっと手軽に、コンテンツを顧客に渡せられる方法はないでしょうか？<br>
        そんな問題を解決するのが「Share Cards」です。</p>
      </div>
    </section>
    <section class="mb-5">
      <div class="text-center">
        <h2 class="my-3">使い方</h2>
        <p class="mb-2">まずは市販の名刺カードを買います。</p>
        <div class="row mb-2">
          <div class="col-6">
            <%= image_tag  "a-one1.png" %>
          </div>
          <div class="col-6">
            <%= image_tag  "a-one2.png" %>
          </div>
        </div>
        <p class="d-inline-block" style="text-align: left;">
        対応用紙<br>
        Ａ－ＯＮＥ 名刺 マルチカード クリアエッジ 厚口 51861タイプ<br>
        Ａ－ＯＮＥ ラベルシール 44面 22シート 72244<br>
        など<br>
        ※「Ａ－ＯＮＥ」はスリーエム　カンパニーの商標または登録商標です。
        <%= link_to  "詳しくはこちら", question_path + '#compatible-paper' %>
        <div class="row mb-2">
          <div class="col-6">
            <span class="material-icons" style="font-size: 150px;">computer</span>
          </div>
          <div class="col-6 d-flex" style="align-items: center;">
            <p style="text-align: left;">
            その後WEBページを使用して、<br>
            レイアウトを作ります。</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <span class="material-icons" style="font-size: 150px;">style</span>
          </div>
          <div class="col-6 d-flex" style="align-items: center;">
            <p style="text-align: left;">
            ダウンロードカードが出来ます</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <span class="material-icons" style="font-size: 150px;">store</span>
          </div>
          <div class="col-6 d-flex" style="align-items: center;">
            <p style="text-align: left;">
            店頭でカードを販売します</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <span class="material-icons" style="font-size: 150px;">accessibility</span>
          </div>
          <div class="col-6 d-flex" style="align-items: center;">
            <p style="text-align: left;">
            購入者はコンテンツをダウンロード出来ます</p>
          </div>
        </div>
        <p>※詳しい使い方は使い方ページを御覧ください</p>
        <%#= link_to  "使い方ページ", use_path %>
      </div>
    </section>
    <section class="mb-5">
      <div class="text-center">
        <h2 class="my-3">3つの特徴</h2>
        <div class="row">
          <div class="col-md-4 mb-3">
            <h4>さまざまなコンテンツ</h4>
            <%= image_tag  "top-img2.png" %>
            <p style="text-align: left;">さまざまなコンテンツを渡せます。<br>
            音楽・イラスト・写真・ゲームなど<br>
          </div>
          <div class="col-md-4 mb-3">
            <h4>限られた人数に共有できる</h4>
            <%= image_tag  "card_back.png" %>
            <p style="text-align: left;">
            カード一枚一枚に対して<br>
            Serial Codeを発行しています。<br>
            これにより、渡したい人だけにコンテンツを<br>
            渡すことが出来ます。
            </p>
          </div>
          <div class="col-md-4 mb-3">
            <h4>デザインを複数選べる(予定)</h4>
            <p style="text-align: left;">
            数種類の用意されたデザインの他<br>
            あなた独自のデザインを<br>
            選択することも出来ます。
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background-color: #2196f3;">
    <div style="background-color: white; width: 300px; text-align: center; margin: 0 auto; padding: 20px 30px;">
      <h3>Shareを始めよう</h3>
      <p>
      今すぐカードを作って<br>
      コンテンツを送りましょう。
      </p>
      <div>
        <%=link_to "カードを作る",cards_path,class: "btn btn-raised btn-primary", style: "font-weight: bold;"%>
      </div>
    </div>
  </div>
</main>