<main>
  <div class="container mb-5">
    <h2 class="my-3"><%=@card.title%></h2>
    <h5><%=@card.auther_name%></h5>
    <div class="text-center mb-3">
      <%= image_tag @card.card_img, style: "max-width: 100%; max-height: 379px;" if @card.card_img.attached? %>
    </div>
    <h4>ダウンロード進行中です。ダウンロードには数十秒かかります。そのまま画面遷移せずお待ち下さい。</h4>
    <div>残りダウンロード回数は <%=@remaining_number%> 回です。</div>
  </div>
</main>
<%# TODO:CDNではなくてWEBpackerで読み込みたい %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  function mp3ZipGenerate() {
    // Array[url, file_name]
    const files = <%=raw @files %>;
    const contentfiles = <%=raw @contentfiles%>

    const blobFetchs = files.map(function(file){
      return fetch(file[0])
        .then(response => response.blob());
    });

    const contentFetchs = contentfiles.map(function(file) {
      return fetch(file[0])
        .then(response => response.blob());
    });

    Promise.all(blobFetchs).then((blobs) => {
      var zip = new JSZip();

      blobs.forEach((blob ,index) => {
        zip.file(files[index][1], blob);
      });

      Promise.all(contentFetchs).then((contentBlobs) => {
        contentBlobs.forEach((blob ,index) => {
          zip.file(contentfiles[index][1], blob);
        });

        zip.generateAsync({type:"blob"}).then(function(content) {
          saveAs(content, "<%= @title %>-mp3");
        });
      });
    });
  }

  mp3ZipGenerate();
</script>