<main>
  <div class="container">
    <div class="text-center my-3">
      <h2>ログイン</h2>
      <p>サービスをご利用の為にはログインが必要となります。</p>
      <p>
      初めてshare cardsをご利用ですか？<br>
      使い方ページを御覧ください<br>
      <%=link_to "カードを貰った", use_card_path,class: "btn btn-raised btn-primary", style: "font-weight: bold;", :target=>["_blank"]%>
      <%=link_to "ラベルを貰った", use_label_path,class: "btn btn-raised btn-primary", style: "font-weight: bold;", :target=>["_blank"]%>
      </p>
    </div>
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン",class: "btn btn-primary btn-raised" %>
        </div>
      <% end %>

      <div class="mb-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
