<main>
  <div class="container">
    <h2 class="my-3" style="color: #2196f3;"><span class="material-icons">info</span>カード管理画面</h2>
    <div class="d-md-none">
      <% @cards.each do |card| %>
      <div class="row mb-2 border-top pt-2">
        <div class="col-4">
          <div class="pr-1 text-center">
            <%= image_tag card.card_img.variant(resize:'140x100').processed, class: "img-thumbnail", style: "object-fit: contain;" if card.card_img.attached? %>
          </div>
        </div>
        <div class="col-8">
          <h4><%=card.title%></h4>
          <p style="margin-bottom: 3px;"><%=card.auther_name%></p>
          <div class="text-right">
            <%= link_to "詳細", card_path(card) ,class: "btn btn-primary btn-outline btn-sm"%>
            <%= link_to "削除", card ,class: "btn btn-danger btn-outline btn-sm", method: :delete, data: { confirm: "削除してもよろしいですか？"} %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="d-none d-md-block">
      <div class="row">
      <% @cards.each do |card| %>
        <div class="col-md-4 mb-3">
          <div class="card" style="max-width: 25rem;">
            <%= image_tag card.card_img.variant(resize:'350x200').processed, class: "card-img-top", style: "object-fit: contain;height: 200px;" if card.card_img.attached? %>
            <div class="card-body">
              <h4 class="card-title"><%=card.title%></h4>
              <h6 class="card-subtitle"><%=card.auther_name%></h6>
              <p class="card-text"></p>
              <div class="text-right">
                <%= link_to "詳細", card_path(card) ,class: "btn btn-primary btn-outline btn-sm"%>
                <%= link_to "削除", card ,class: "btn btn-danger btn-outline btn-sm", method: :delete, data: { confirm: "本当に削除してもよろしいですか？(カードを所持しているユーザーが使用できなくなります)"} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <% if @cards.empty? %>
    <div class="text-center my-5">
      <h4>まだカードを作成していません。</h4>
    </div>
    <% end %>
    <div class="text-right mb-3">
      <%=link_to "新しいカードを作成する", new_card_path, class: "btn btn-primary btn-raised"%>
    </div>
  </div>
</main>