<% if @card.errors.any? %>
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
  <% @card.errors.full_messages.each do |message| %>
  <%=message%><br>
  <%end%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<main>
  <div class="container">
    <h2 class="my-3">新しいカードテンプレートの作成</h2>
    <%= link_to  "戻る", cards_path, class: "btn btn-primary btn-outline mb-3" %>
    <%=form_with model: @card, local: true do |f|%>
      <div class="form-group">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: "form-control", id: "title"%>
      </div>
      <div class="form-group">
        <%= f.label "作成者" %>
        <%= f.text_field :auther_name, class: "form-control", id: "auther_name"%>
      </div>
      <h3>デザイン設定</h3>
      <p>カードのデザインを決められます。</p>
      <p>
      オリジナルのデザインの場合は、「<%= link_to  "オリジナルデザインの作り方", question_path + '#compatible-paper' %>」を御覧ください。<br>
      特に画像をカード向けに加工しなくても使うことも可能です。<br>
      その場合、例えば縦長の画像の場合は左右に隙間が空きます。<br>
      また「フチあり」を選択してください。
      </p>
      <p>※用紙設定でラベルの商品を選んだ場合、この設定はラベル印刷面には現れません。(ダウンロードページや管理画面では使われます)</p>
      <div class="form-group">
        <%= f.label "用紙選択" %>
        <%= f.select :format, {'A-one フォーマット番号【F10A4-1】' => "F10A4-1", 'A-one フォーマット番号【F44A4-1】(ラベル商品)' => "F44A4-1"},{}, class: "custom-select", id: "format"%>
      </div>
      <div class="form-group">
        <%= f.label "デザインの選択" %>
        <%= f.select :design_type, {'オリジナルのデザイン' => 1, 'プリセット1' => 2},{}, class: "custom-select", id: "design_type"%>
      </div>
      <div class="form-group">
        <%= f.label "デザインのアップロード" %>
        <%= f.file_field :card_img, class: "form-control-file", id: "card_img"%>
      </div>
      <div class="form-check">
        <%= f.check_box :edge_blank, class: "form-check-input", id: "edge_blank"%>
        <%= f.label "フチあり", class: "form-check-label" %>
      </div>
      <h4 class="my-3">デザインプレビュー</h4>
      <div class="text-center">
        <div class="border d-inline-block" style="width: 100%; padding-top: 60%; position: relative;">
          <%= image_tag 'sample.png', id: "background-preview", style: "width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: contain; height: 99%;" %>
        </div>
      </div>
      <div class="text-right">
        <%= f.submit nil,class: 'btn btn-primary btn-raised'%>
      </div>
    <%end%>
  </div>
</main>
<%= javascript_pack_tag 'cards', 'data-turbolinks-track': 'reload' %>