<main>
  <div class="container">
    <h2 class="my-3"><%=@card.title%></h2>
    <h5><%=@card.auther_name%></h5>
    <%=link_to "一覧画面に戻る", cards_path, class: "btn btn-primary btn-outline"%>
    <div class="text-center mb-3">
      <%= image_tag @card.card_img, style: "max-width: 100%; max-height: 379px;" if @card.card_img.attached? %>
    </div>
    <div class="text-right mb-3">
      <%=link_to "カードデザインを変更する" , card_edit_card_img_path(@card), class: "btn btn-success btn-outline"%>
    </div>
    <section>
      <h4>カード情報</h4>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>作成日時</td>
            <td><%=@card.created_at.to_s(:datetime_jp)%></td>
            <td>
            </td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><%=@card.title%></td>
            <td>
              <div class="text-right">
                <%=link_to "編集", card_edit_title_path(@card), class: "btn btn-success btn-outline"%>
              </div>
            </td>
          </tr>
          <tr>
            <td>作者名</td>
            <td><%=@card.auther_name%></td>
            <td>
              <div class="text-right">
                <%=link_to "編集", card_edit_auther_name_path(@card), class: "btn btn-success btn-outline"%>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h4>カードの再印刷と新規作成</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">作成日時</th>
            <th scope="col">カード枚数</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @card.license_groups.each do |license_group| %>
          <tr>
            <td><%=license_group.created_at.to_s(:datetime_jp)%></td>
            <td><%=license_group.number_of_licenses%></td>
            <td>
              <div class="text-right">
                <%=link_to "再印刷", card_license_group_download_path(@card, license_group), class: "btn btn-primary btn-raised"%>
                <%=link_to "削除", card_license_group_path(@card, license_group),method: :delete , class: "btn btn-danger", data: { confirm: "本当に削除してもよろしいですか？既にカードを配布している場合はそのカードは使用出来なくなります。"}%>
              </div>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </section>
    <div class="text-right mb-3">
      <%=link_to "カードを追加作成する" ,new_card_license_group_path(@card), class: "btn btn-primary btn-outline"%>
    </div>
  </div>
</main>